* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 20vh;
  border: 2px solid rgb(144, 143, 151);
}

img {
  height: 5em;
  width: auto;
  border-radius: 50px;
  align-items: baseline;
}

input {
  border-radius: 2em;
  width: 70em;
  left: -50%;
  height: max-content;
  padding: 3vh;
}

.parent {
  height: 80vh;
  width: 100vw;
  display: flex;
}

.sidebar {
  width: 15%;
  height: 100%;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

a {
  padding: 12px 20px;
  color: #333;
  border-bottom: 1px solid #ddd;

}

.TopBar {
  display: flex;
  justify-content: space-evenly;
}

#game, #music, #news, #football, #watched {
  background-color: #ddd;
  border-radius: 0.5rem;
  width: 6em;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game:hover,
#news:hover,
#football:hover,
#watched:hover,
#music:hover {
  background-color: #f1f1f1;
}

.sidebar a:hover {
  background-color: #ddd;
}

.iframe {
  width: 70%;
  margin-left: 5rem;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}

iframe {
  height: 35%;
  width: auto;

}

section{
  display: flex;
  flex-direction: column;
  text-align: center;
}